/* |HEADER| */

header{
  justify-content: space-between;
}

header span{
  color: #EC3933;
  right: unset;
  position: relative;
}

#logo{
  align-self: center;
}

#exit-button{
  right: unset;
  position: relative;
}
  #exit-button img{
    margin: 0 20px 0 0;
  }

/* |TO CART| */

iframe{
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 60px;
  border: none;
}

/* |COVER| */

#collection-cover{
  width: 100%;
  height: 808px;
  background-image: url("Sources/Collections/cover.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: flex-end;
  display: flex;
  overflow: hidden;
}
  #collection-cover div{
    font-family: CG;
    font-size: 18vw;
    color: white;
    margin-bottom: -5%;
  }

/* |PRICES| */

#prices{
  font-family: Lack;
  font-size: 45px;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 460px);
  padding: 0 230px;
  height: 108px;
  align-items: center;
}
  #price{
    color: #EC3933;
  }
