/* |HEADER| */

header{
  justify-content: space-between;
  outline: none;
  z-index: 9999;
}

header span{
  color: #EC3933;
  right: unset;
  position: relative;
}

header button{
  top: calc(50% - 1.074vw);
}

section{
  padding: 0 11%;
}

body{
  background-color: #000000;
}

button{
  position: relative;
  z-index: 100;
}
a{
  position: relative;
  z-index: 100;
}

aside{
  margin-top: 0;
  position: fixed;
  top: 0;
  z-index: 99999;
}
  aside img{
    position: absolute;
    margin-top: 100px;
  }

.iframe-exit{
  display: none;
  top: 0;
  position: absolute;
  height: 80px;
  width: 243px;
  z-index: 9999999;
  background-color: #EC3933;
  align-items: center;
  font-family: Lack;
  color: white;
  font-size: 35px;
  justify-content: space-evenly;
  cursor: pointer;
  opacity: 0.3;
}

.i-login{
  right: 0;
}
  .i-login img{
    transform: rotate(180deg);
  }

#backToTheFuture{
  top: -8.6vw;
}

#logo{
  align-self: center;
  z-index: 10001;
}

#exit-button{
  right: unset;
  position: relative;
}
  #exit-button img{
    margin: 0 20px 0 0;
  }

/* |TO CART| */

#buyButton{
  width: 100%;
  height: 4.375vw;
  min-height: 58px;
  position: absolute;
  z-index: 99999;
  background-color: rgba(236,57,51,0.5);
  font-family: Lack;
  font-size: 1.719vw;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  backdrop-filter: blur(27px);
}

/* |COVER| */

#collection-cover{
  width: 100%;
  height: 808px;
  background-image: url("Sources/Collections/cover.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: flex-end;
  display: flex;
  overflow: hidden;
  outline: 0.8px solid rgba(255,255,255,0.5);
}
  #collection-cover div{
    font-family: CG;
    font-size: 18vw;
    color: white;
    margin-bottom: -5%;
  }

/* |PRICES| */

#prices{
  font-family: Lack;
  font-size: 45px;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 460px);
  padding: 0 230px;
  height: 108px;
  align-items: center;
  outline: 0.8px solid rgba(255,255,255,0.5);
}
  #price{
    color: #EC3933;
  }

/* |BIO| */

#bio{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  align-items: center;
}
  #bio div{
    display: inline-block;
    font-family: Lack;
    font-size: 2.3vw;
    height: 384px;
    line-height: 60px;
    align-self: flex-start;
    margin-top: 44px;
  }
  #bio img{
    margin-right: 78px;
    width: 29%;
  }
  @media(max-width: 1650px){
    #bio div{
      line-height: unset;
      height:  unset;
    }
  }

/* |CONTENT| */

button{
  position: absolute;
  border: none;
  background-color: transparent;
  width: 31.5px;
  height: 31.5px;
  background-repeat: no-repeat;
  background-size: contain;
  right: 92px;
  top: calc(50% - 8px);
  outline: none;
}
  .order{
    background-image: url('Sources/Collections/order.png');
  }
  .grid{
    background-image: url('Sources/Collections/grid.png');
    right: 45px;
  }
  .unactive{
    filter: brightness(50%);
  }

#inside{
  font-family: Lack;
  font-size: 101px;
  text-align: center;
  height: 5.885vw;
  margin: 50px 0;
}
  #inside div{
    position: relative;
  }
  @media(max-width: 1500px){
    #inside{
      font-size: 80px;
    }
  }
  @media(max-width: 1265px){
    #inside{
      font-size: 70px;
    }
  }
  @media(max-width: 1150px){
    #inside{
      font-size: 60px;
    }
  }
  @media(max-width: 1024px){
    #inside{
      font-size: 40px;
      height: unset;
    }
    #inside button{
      top: 0;
    }
    #order{
      margin-top: 0;
    }
  }
  @media(max-width: 770px){
    #inside{
      font-size: 30px;
    }
    #insideContent{
      padding-top: 32px;
    }
      #insideContent button{
        float: left;
        display: block;
        position: absolute !important;
        top: 0 !important;
      }
        #toOrder{
          left: calc(50% - 39px);
        }
        #toGrid{
          left: calc(50% + 15px);
        }
  }
  @media(max-width: 440px){
    #insideContent{
      font-size: 20px;
      padding-top: 37px;
    }
  }

#order{
  padding: 20px 22%;
}
.item_order{
  display: flex;
  align-items: center;
  font-family: Lack;
  position: relative;
  margin-bottom: 11px;
  padding: 20px 0;
}
  .item-img{
    height: 100%;
    margin-right: 4.7%;
  }
  .item-info_order{
    display: inline-block;
    align-self: stretch;
  }
  .item-name_order{
    font-size: 2.3vw;
  }
  .item-year_order{
    font-size: 1.719vw;
    color: #3441CC;
    margin-bottom: 2.1%;
  }
  .item-description_order{
    font-family: Casper;
    font-size: 1.042vw;
    line-height: 1.302vw;
    margin-top: 5.5%;
  }
  .item-tech_order{
    display: flex;
    align-items: center;
    margin-top: 7%;
    font-size: 1.042vw;
  }
  .size-img{
    width: 5.2% !important;
    margin-right: 15px;
  }
    .size-text{
      margin-right: 15px;
    }
  .material-img{
    width: 4% !important;
    margin-right: 15px;
  }

/* |GRID| */

#grid{
    max-width: 1220px;
    margin: 0 auto;
    display: none;
    padding: 0;
    text-align: center;
}
  #grid div{
  }
  #grid img{
    width: 341px;
    height: 341px;
    margin-bottom: 45px;
    display: inline;
  }


/* |PHRASE| */

#phrase{
  font-family: CG;
  padding: 1.823vw 20%;
  font-size: 6vw;
  font-weight: bold;
  line-height: 5.208vw;
  margin-bottom: 6vw;
}

#newOrder{
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 999999;
  border: none;
  overflow-x: hidden;
  top: 100%;
  transition: top 0.2s ease-out;
}

@media (max-width: 1240px) {
  #order{
    padding: 0 11%;
  }
}

/* | НАЧИНАЕТСЯ ЁБЛЯ | */

@media(max-width: 1024px){
  header{
    margin-top: 0;
    justify-content: center;
    height: 6.836vw;
    background-color: #000000;
    position: absolute;
    top: 0;
  }
  header button{
    height: 2.148vw;
    width: 2.539vw;
  }
  #buyButton{
    font-size: 20px;
  }
  #logo{
    display: block;
  }

  #collection-cover{
    height: 456px;
  }

  #prices{
    font-size: 4vw;
    white-space: nowrap;
    padding: 0 18%;
    width: 64%;
    padding-top: 0.977vw;
    height: 60px;
  }

  #bio{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 3.516vw;
  }
    #bio img{
      width: 275px;
      height: auto;
      margin-right: 0;
    }
    #bio div{
      margin-top: 18px;
      margin: 3vw auto 0;
      font-size: unset;
      max-width: 530px;
    }

    #inside{
      height: 80px;
      display: flex;
      flex-direction: column;
      margin: 0;
    }
      #inside button{
        right: 30px;
        position: absolute;
        width: 24px;
        height: 24px;
        top: calc(50% - 9px);
      }
      #toOrder{
        margin-right: 44px;
      }
      #insideContent{
        align-items: center;
      }
  #order{
    padding: 0;
    align-items: center;
    margin-top: 3.922vw;
  }
  .item_order{
    flex-direction: column;
    width: 371px;
    height: 656px !important;
    margin: 0 auto;
    margin-bottom: 10px;
  }
    .item-img{
      width: 371px;
      height: 371px;
      margin-right: 0;
    }
    .item-name_order{
      font-size: 25px;
      text-align: center;
      height: 38px;
      margin-top: 11px;
    }
    .item-year_order{
      font-size: 20px;
      text-align: center;
      height: 23px;
    }
    .item-description_order{
      font-size: 15px;
      height: unset;
      line-height: 20px;
      width: 274px;
      padding-left: 48px;
    }
    .item-tech_order{
      font-size: 15px;
      display: flex;
      justify-content: space-evenly;
      width: 250px;
      margin: 20px auto 0;
    }
      .item-tech_order img{
        width: unset !important;
      }
    #phrase{
      display: none;
    }
    footer{
      position: relative;
      margin-top: 70px;
      z-index: 9999;
    }

    #grid{
      margin-top: 50px;
    }
    /*#grid img{
      width: 165px;
      height: 165px;
    }*/

}

#stripes{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}
  .s_main{
    margin: 0 11%;
    height: 100%;
    outline: 0.8px solid rgba(255,255,255,0.5);
  }
  .s_item{
    width: 100%;
    outline: 0.8px solid rgba(255,255,255,0.5);
    position: absolute;
  }

@media (max-width: 615px) {
  footer{
    margin-top: 55px;
  }
  .social-network img {
    height: 25px;
  }
}
@media(max-width: 704px){
  #grid img{
    width: 165px;
    height: 165px;
  }
}
